html, body {
	@include full-screen;
	@include zero-box;
}

.display-none {
	display: none;
	@include transition(all $animation-duration $animation-timing);
}

.visible-none {
	opacity: 0;
	@include transition(all $animation-duration $animation-timing);
}

header {
	@include padding(em(50px) 0 em(20px) 0);

	h2 {
		color: $color-white;
		font-family: $body-font;
		@include font-sw(em(36px), 400);
		text-align: center;
	}
}