// Typography

html {
  font-size: 62.5%;
  @media screen and (min-width: $bp-sm) { font-size: 65%; }
  @media screen and (min-width: $bp-md) { font-size: 70%; }
  @media screen and (min-width: $bp-lg) { font-size: 80%; }
  @media screen and (min-width: $bp-xl) { font-size: 92.5%; }
}

body {
  color: $color-mineshaft;
  font-family: $body-font;
  font-size: 1em;
  font-weight: 300;
  line-height: $body-lh;
  
}

%header {
  @include margin(0);
  @include padding(0);
	font-family: $body-font;
	font-weight: $default-font-weight;
	line-height: $body-lh;
}

@for $index from 1 through length($font-sizes) {
  $size: nth($font-sizes, $index);
  h#{$index} {
    @extend %header;
    font-size: em($size);
  }
}

header {
    @include size(100% 10vh);

    h1.header {
      font-size: em(32px);
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.25em;

      @include vertical-center;
    }
}

p {
  font-family: $body-font;
  font-size: em(18px);
  font-weight: $default-font-weight;
  line-height: 1.8;
}

a {
  color: $color-dodgerblue;
  text-decoration: none;
  transition: color $animation-duration $animation-timing;

  &:active,
  &:focus,
  &:hover {
    opacity: 0.8;
  }
}