// Variables

/****************************************************************
*****************************************************************
  /$$$$$$   /$$$$$$  /$$        /$$$$$$  /$$$$$$$   /$$$$$$ 
 /$$__  $$ /$$__  $$| $$       /$$__  $$| $$__  $$ /$$__  $$
| $$  \__/| $$  \ $$| $$      | $$  \ $$| $$  \ $$| $$  \__/
| $$      | $$  | $$| $$      | $$  | $$| $$$$$$$/|  $$$$$$ 
| $$      | $$  | $$| $$      | $$  | $$| $$__  $$ \____  $$
| $$    $$| $$  | $$| $$      | $$  | $$| $$  \ $$ /$$  \ $$
|  $$$$$$/|  $$$$$$/| $$$$$$$$|  $$$$$$/| $$  | $$|  $$$$$$/
 \______/  \______/ |________/ \______/ |__/  |__/ \______/ 

*****************************************************************
****************************************************************/

// Monochrome
$color-white: #fefefe;
$color-alabaster: #f7f7f7;
$color-catskill: #fafbfc;
$color-gallery: #eee;
$color-silver: #ccc;
$color-silverchalice: #aaa;
$color-dustygray: #999;
$color-boulder: #777;
$color-emperor: #555;
$color-mineshaft: #262626;
$color-black: #1d1d1d;

// Main Colors
$color-dodgerblue: #229aff;

$color-froly: #f48687;
$color-rajah: #FAB57A;
$color-texas: #EDF798;
$color-anakiwa: #80D6FF;
////////////////////////////////////////////

$body-background: $color-catskill;
$intro-background: $color-froly;
$card-background: $color-white;
$card-tag: $color-froly;

$button-background: $color-white;
$button-text: $color-mineshaft;



/****************************************************************
*****************************************************************

 /$$$$$$$$ /$$     /$$ /$$$$$$$   /$$$$$$ 
|__  $$__/|  $$   /$$/| $$__  $$ /$$__  $$
   | $$    \  $$ /$$/ | $$  \ $$| $$  \ $$
   | $$     \  $$$$/  | $$$$$$$/| $$  | $$
   | $$      \  $$/   | $$____/ | $$  | $$
   | $$       | $$    | $$      | $$  | $$
   | $$       | $$    | $$      |  $$$$$$/
   |__/       |__/    |__/       \______/ 
                                          
*****************************************************************
****************************************************************/
// Typography
$body-font: "brandon-grotesque", sans-serif;
$title-font: $body-font;
$font-sizes: 48px 36px 24px 18px 16px 12px;
$em-base: 16px !default;
$default-font-weight: 500;

// Line Height
$body-lh: 1.25;
$title-lh: 1.33;




/****************************************************************
*****************************************************************

 /$$      /$$ /$$$$$$  /$$$$$$   /$$$$$$ 
| $$$    /$$$|_  $$_/ /$$__  $$ /$$__  $$
| $$$$  /$$$$  | $$  | $$  \__/| $$  \__/
| $$ $$/$$ $$  | $$  |  $$$$$$ | $$      
| $$  $$$| $$  | $$   \____  $$| $$      
| $$\  $ | $$  | $$   /$$  \ $$| $$    $$
| $$ \/  | $$ /$$$$$$|  $$$$$$/|  $$$$$$/
|__/     |__/|______/ \______/  \______/ 
                                         
                                          
*****************************************************************
****************************************************************/
// Misc
$border-radius: 3px;
$md-spacing: $body-lh * 1em;
$sm-spacing: $md-spacing / 2;

// Animations
$animation-duration: 150ms;
$animation-timing: ease;

// Box Shadow
$low-shadow: 0 em(3px) em(7px) rgba(0, 0, 0, 0.15);
$default-shadow: 0 em(7px) em(15px) rgba(0, 0, 0, 0.15);
$hover-shadow: 0 em(15px) em(30px) rgba(0, 0, 0, 0.15);

// Breakpoints
$bp-sm: em(540);
$bp-md: em(986);
$bp-lg: em(1200);
$bp-xl: em(1600);