// start _buttons.scss

button {
	width: em(240px);
	height: em(64px);
	margin: 0;
	padding: 0;

	font-family: $font-family--primary;
	font-size: em(12px);
	font-weight: $font-weight--title;
	letter-spacing: 0.25em;
	text-align: center;
	text-transform: uppercase;

	background-color: $color-white--0;
	color: $color-black--0;

	border: 0;
	outline: none;

	@include transition(all, $animation-speed--default);
	@include default3D;
	
	&:hover {
		// 3D effect
	}
}

// end _buttons.scss