// start _card.scss

.card {
	width: em(460px);
	margin: 0 auto;
	padding: em(64px) em(56px);

	text-align: center;

	background: $color-white--0;

	@include default3D;

	h2 {
		margin: em(8px) auto;
	}
}

// end _card.scss