// start _form.scss
form {
	margin: em(24px) auto 0 auto;
	font-size: em(20px);

	@media screen and (max-width: $bp-sm) {
		button {
			width: em(420px);
			margin: em(8px) auto 0 auto;
		}
	}
}

input {
	width: 100%;
	height: em(64px);
	margin: 0 auto em(12px) auto;
	padding: 0 em(28px);

	font-family: $font-family--primary;
	font-size: em(12px);
	font-weight: $font-weight--primary;
	letter-spacing: 0.25em;
	line-height: em(48px);
	text-align: left;
	text-transform: uppercase;

	background-color: $color-white--0;
	color: $color-black--0;

	border: em(3px) solid $color-white--2;
	outline: none;
}

@include placeholder($color-black--2);

.input-url {
	padding: 0 em(42px);
	
	font-size: em(16px);
	letter-spacing: 0.125em;
	text-transform: none;

	border: 0;

	@include default3D;
}
// end _form.scss