.sponsors {
	// Add code for sponsors here
	background: $color-sttropaz;

	.sponsor {
		width: 100%;
	    height: 100%;
	    margin: 5px auto;
	    padding: 0px 10px;
	    opacity: 0.5;

	    background-position: center center !important;
	    background-origin: content-box !important;
	    background-size: contain !important;
	    background-repeat: no-repeat !important;

	    -webkit-transition: all 175ms ease-out;
	    -moz-transition: all 175ms ease-out;
	    -ms-transition: all 175ms ease-out;
	    -o-transition: all 175ms ease-out;
	    transition: all 175ms ease-out;

	    &:hover {
	    	opacity: 1;
	    }
	}


	// SPONSORSHIP TIERS

	.nodejs {
		width: 70%;
		height: 225px;
		margin: 0 auto;

		.sponsor {
			opacity: 1;
		}
	}

	.flask {
		width: 70%;
		height: 175px;
		margin: 0 auto;

		.sponsor {
			opacity: 0.65;
			@include span-columns(6);
				
			&:hover {
		    	opacity: 1;
		    }
		}
	}

	.rails {
		width: 70%;
		height: 125px;
		margin: 0 auto;

		.sponsor {
			@include span-columns(4);
			opacity: 0.50;

			&:hover {
		    	opacity: 1;
		    }
		}
	}

	.perl {
		width: 70%;
		height: 100px;
		margin: 0 auto;

		.sponsor {
			@include span-columns(3);
			opacity: 0.35;

			&:hover {
		    	opacity: 1;
		    }
		}
	}

	.php {
		width: 70%;
		height: 75px;
		margin: 0 auto;

		.sponsor {
			@include span-columns(2);
			opacity: 0.2;

			&:hover {
		    	opacity: 1;
		    }
		}
	}
}