.input-container {
	margin: em(64px) auto;
}

.customize h4 {
	margin: em(8px) em(42px);
	font-weight: 400;
	color: $color-black--0;
	opacity: 0.50;
}

.url-container {
	background: $color-white--0;
	@include default3D;
}

.url {
	width: 100%;
	height: em(128px);
	padding: 0 em(42px);

	border-bottom: 2px solid $color-white--1;
	@include row();

	.content {
		@include span-columns(8);
	}

	.stats {
		@include span-columns(4);
		text-align: right;
		text-transform: uppercase;
	}

	a, h4 {
		font-weight: 400;
		letter-spacing: 0.05em;
	}

	.inactive {
		margin: em(10px) 0 em(6px) 0;
		color: $color-white--4;
	}

	.link {
		color: $color-green--primary;
	}

	.date {
		margin: 0 0 em(8px) 0;
		text-transform: uppercase;
		color: $color-white--4;
	}
}